%p#notice= notice
.card.grey.lighten-4
  .card-content
    %span.card-title Welcome to Rails ToDo Application
    %p
      I am a very simple card. I am good at containing small bits of information.
      I am convenient because I require little markup to use effectively.
    %a.btn{:href => "/signup"} Sign up now
    = link_to "Login", login_path, class: "btn"
%br/
