!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ToDo
    %meta{:content => "width=device-width,initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "telephone=no,address=no,email=no", :name => "format-detection"}/
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css", :rel => "stylesheet"}/
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"}
    :css
      body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
      }
      main {
        flex: 1 0 auto;
      }
  %body
    %nav
      .nav-wrapper.teal
        - if is_login?
          %a.brand-logo{:href => "/tasks"} ToDo
        - else
          %a.brand-logo{:href => "/"} ToDo
        %a.sidenav-trigger{"data-target" => "mobile-demo", :href => "#"}
          %i.material-icons menu
        %ul.right.hide-on-med-and-down
          - if is_login?
            %li= link_to "ログアウト", logout_path, method: :delete
          - else
            %li= link_to "Signup", signup_path
            %li= link_to "Login", login_path
    %main.container
      = yield
    %footer.page-footer.grey.darken-3{:style => "padding-top: 0;"}
      %p.right-align{:style => "margin-right: 10px;"} To do
